<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    <form action="" method="post">
        <p>
            <label for="message">Message</label>
            <input type="text" name="message">
        </p>
        <p>
            <select id="voice" name="voice">
                <option value="option_1">Option 1</option>
                <option value="option_2">Option 2</option>
            </select>
        </p>
        <p>
            <input type="submit">
        </p>
    </form>

</body>
</html>